version: 2
updates:
  - package-ecosystem: "pip"
    directory: "/"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 5

  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 5

  - package-ecosystem: "terraform"
    directory: "/infra/gcp/cloud_run_api_demo"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 5
